* {
  margin: 0%;
  padding: 0%;
}

nav {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.258);
}

nav a {
  color: black;
  text-decoration: none;
  font: 300 1.5rem "Roboto", sans-serif;
  padding: 1rem;
  margin: 0 2vmax;
}
